@charset "utf-8";

body {
	margin:0;
	padding:0;
	width:100%;
	color:#000000;
	background-color: #434343;/* url(images/corps_bg.gif) repeat-x bottom;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#wrapper {
	/*background:url(images/corps_entete_bg.gif) repeat-x top;*/
}


/**** HEADER ****/

#entete {
	height:95px;
	height:100%;
}

h1 {
	margin:0;
	padding:30px 0 0 20px;
	font:bold 38px/1.2em Arial;
	letter-spacing:-2px;
	color:#000000;
}

h1 span {
	color:#ffffff;
}

h1 small {
	padding:0 10px;
	font:normal 12px/1.2em Arial;
	letter-spacing:normal;
	color:#000000;
}

h2 {
	padding:8px 0;
	margin:0;
	color:#333333;
	font-family: Arial;
	font-size: 35px;
	font-weight: normal;
	text-align: center;
}

p {
	margin:0 0;
	padding:0 0 0 0;
	font:normal Arial;
}

.menu {
	width:100%;
	height:100%;
	margin:0 0 10px;
	padding:4px;
	border:1px solid #d8d8d8;
	background:#FFF;
}

.menu ul {
	list-style:none;
	margin:0;
	padding:0;
	/*background:url(images/menu_bg.gif) repeat-x;*/
	height:38px;
}

.menu ul li {
	margin:0;
	padding:0 2px 0 0;
	float:left;
	/*background:url(images/menu_ligne.gif) no-repeat right;*/
}

.menu ul li a {
	display:block;
	margin:0;
	padding:11px 25px;
	color:#000000;
	text-decoration:none;
	font-size:13px;
	line-height:16px;
}

.menu ul li.active a, .menu ul li a:hover {
	color:#fff;
	text-decoration:none;
	background:#c80203;
}


/**** BODY ****/

#corps {
	padding:9px;
	border:1px solid #a1a1a1;
        height:100%;
}

.haut {
	padding:12px;
	background:#fff;
        height:100%;
}

.texte {
	margin:0;
	padding:10px 15px 5px;
	width:95%;
        height:100em;
}

.texte .spec a {
	text-decoration:none;
	padding:7px 15px;
	background:#c80203;
	color:#FFF;
}

.texte img {
	position: relative;
	width: 100px;
	height:100px;
	float: left;
        display: block;
}

.texte form {
	font-size: 14px;
	font-weight: bold;
}

.tab{  
  border: 1px solid black;
  background-color:lightgrey;
  color:black
}

.liste_choix ul {
	list-style:none;
}

.liste_choix ul li {
	float:left;
}

.liste_choix a{
	margin: 0 10px;
	text-decoration:none;
	color: #333;	
}

.liste_choix a:hover{
	font-weight:bold;
	font-size:14px;
	color: #c80203;
}

/*********************************************/
/*********************************************/

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.liste_prod {
    border: 1px solid black;
}

li, ol {
        display: block;
        float: left;
        margin: 0;
        padding: 0;
}

ol li {
	width: 15%;
	margin: 0em 0em 0em 0em;
	line-height: 1.5em;
	margin-top: 20px;
        /* Bordures arrondies dans les coins */
}

ol li ol {
	width: 100%;
	/*height: 7em;*/
	font-size: 0.8em;
	border: none;
	margin: 0;
}

input.btn_voir_prod input.btn_ajout_prod {
	display: block;
	padding: 0em 0em 0em 1em;
	font-size: 1.1em;
	font-weight: bold;
}

/*********************************************/
/*********************************************/

.bas {
	padding:10px 0;
	background-color: #c80203;
	height: 35px;
}


/**** FOOTER ****/

#piedpage {
	margin:0 auto;
	padding:20px 0;
	width:885px;
	color:#ffffff;
}

#piedpage address {
	text-align: center;
	margin:0;
	line-height:normal;
	color:#ffffff;
}

.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
