{% extends '::base.html.twig' %}

{% block body %}
	
	<h2>Bienvenue sur notre site de vente en ligne</h2>
  <h4>Vous allez bientôt pouvoir acheter votre nouvel équipement mobile dernier cri pour seulement 1 mois de salaire !!!</h4>
  <h4>Ce site est en cours de construction, merci de réfréner vos pulsions acheteuses pour le moment</h4>

{% endblock %}
