<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
	<link rel="stylesheet" media="screen" href="/Pweb/css/style.css" />
    </head>
    <body>
    	<div id="wrapper">
    	    <div id="entete">
	     		<h1><span>ENSIIE</span> Vente en ligne</h1>
	    	</div>

		    <div id="corps">

		    	<div class="haut">
			    	<div class="menu">
						<ul>
				    		<li class="active"><a href="{{ path('pweb_accueil') }}">Accueil</a></li>
				    		<li><a href="#">Produits</a></li>
				    		<li><a href="{{ path('pweb_compte') }}">Mon compte</a></li>
						</ul>
			    	</div>

			    	<div class="texte">
	           			{% block body %}{% endblock %}
			    	</div>
				</div>

				<div class="bas">
			    	<div class="clr"></div>	
				</div>

		    </div>
		    
		    <div id="peidpage">
		    </div>

    	</div>
    </body>
</html>
