{% extends 'PwebCompteBundle:Admin:index.html.twig' %}

{% block title %}
	Admin - Produits - Supprimer
{% endblock %}

{% block bodyadmin %}

	<br/>
	<div class="liste_choix2">
		<ul>
			<li><a href="{{ path('pweb_prod_add') }}">Ajouter un produit</a></li>
			<li><a href="{{ path('pweb_prod_remove') }}">Supprimer un produit</a></li>
			<li><a href="{{ path('pweb_admin_prod') }}">Voir tous les produits</a></li>
		</ul>
	</div>
	<br/>

	<p>Supprimer un produit</p>
{% endblock %}