{% extends 'PwebCompteBundle:Admin:index.html.twig' %}

{% block title %}
	Admin - Commandes - Modifier
{% endblock %}

{% block bodyadmin %}

	<br/>
	<div class="liste_choix2">
		<ul>
			<li><a href="{{ path('pweb_cmd_modif') }}">Modifier une commande</a></li>
			<li><a href="{{ path('pweb_admin_cmd') }}">Voir les commandes</a></li>
		</ul>
	</div>
	<br/><br/>

	modifier le statut d'une commande
	
{% endblock %}
