{% extends '::base.html.twig' %}

{% block body %}

	<div class="liste_choix">
		<ul>
			<li><a href="{{ path('pweb_admin_util') }}">Utilisateur</a></li>
			<li><a href="{{ path('pweb_admin_prod') }}">Produit</a></li>
			<li><a href="{{ path('pweb_admin_cmd') }}">Commande</a></li>
		</ul>
	</div>

	<div class="texte">
		<h2><b>Administrateur</b></h2>
		<br/><br/>
		<p class="spec"><a href="{{ path('logout') }}">Déconnexion</a></p> 
	</div>
	<br/>

{% endblock %}