{% extends '::base.html.twig' %}

{% block title %} Les produits {% endblock %}

{% block body %}
	
	<h3>Vous êtes dans la section des produits</h3>
  <h4>C'est ici que vos petits yeux vont briller de mille feux</h4>
  
  {% for p in prod %}
    <div class="image">
      <li>
        <a>{{ p.libelleProd }}</a>
        <a><img src="{{ p.image.url }}" alt=""/img></a>
      </li>
    </div>
  {% endfor %}
  

  
{% endblock %}

{# 

.image {
  display:block;
}

.image li {
  float:left;
  position:relative;
}

.image li img{
  transform: scale(0.25);
}

#}
